{% extends "basepage.html" %}

{% block head %}
<script type="text/javascript">
    user_id = "{{ userdata.id }}"
    user_name = "{{ userdata.first_name }} {{ userdata.last_name }}"
</script>
<script src="/static/friendscript.js"></script>
{% endblock %}

{% block body %}
    <div id="headerbar" class="ui-widget-header ui-widget ui-corner-top"><h3>My Friends' Top Tens</h3></div>
    <div id="friendholder">
        {% for friend in friends %}
        			 <h3 class="friend ui-widget ui-helper-reset ui-state-default ui-corner-all">
        			     <strong>{{ friend.first_name }} {{ friend.last_name }}</strong>
        			 </h3>
        			 <input type="hidden" value="{{ friend.facebook_id }}">
        {% endfor %}
    </div>
    <div id="buttonbar" class="ui-widget-header ui-corner-bottom">
        <button id="home">My Top Ten!</button>
        <button id="jukebox">Jukebox!</button>        
    </div>    
{% endblock %}