{% macro acc_header(number, title, artist) -%}
    <h3 class="header{% if newsong %} newsong{% endif %}" id="{{ number }}header">
        <span class="songtitleartist">
            <span class="titleartist show">{{ number }}. <strong>{{ title }}</strong> by <strong>{{ artist }}</strong><input type="hidden" class="currenttitle" value="{{ title }}"><input type="hidden" class="currentartist" value="{{ artist }}"></span>
        </span>
    </h3>
{% endmacro %}

{% macro prov_class(provider) -%}
    {% if provider == 1 %}
        youtubeshow
    {% elif provider == 2 %}
        soundcloudshow
    {% elif provider == 3 %}
        vimeoshow
    {% elif provider == 4 %}
        spotifyshow 
    {% elif provider == 5 %}
        hypemshow       
    {% else %}
        unknownshow
    {% endif %}    
{% endmacro -%}

{% macro acc_panel(number, reason, provider) -%}
    <div class="showpanel" id="{{ number }}panel">
        <span class="lefthalf">
            <span class="reasoncontainer">        
                <span class="reasonbox {{ prov_class(provider=provider) }}">
                    <span class="reasonshow">
                         {% if reason %}"{{ reason }}"{% endif %}             
                    </span>          
                </span>
            </span>
            <span class="slider {{ prov_class(provider=provider) }} ui-state-default ui-corner-all closed">
                <h3>Player</h3>                
            </span>
        </span>
        <span id="play{{ number }}" class="playerbox {{ prov_class(provider=provider) }}">
            <div class="player"></div>
        </span>
    </div>
{% endmacro %}
